* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif !important;

  &::before,
  &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  background: #fcfbfc;
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992) {
    width: 970px;
  }

  @media (min-width: 768) {
    width: 750px;
  }
}

.block {
  display: block;
}

.hidden {
  display: none;
}
